@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="alert alert-warning text-center mt-5">
    <strong>En développement :</strong> Cette fonctionnalité est en cours de développement. Merci de votre patience.
    <br />
</div>
